<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width" />
	<meta name="author" content="www.lzqcode.com" />
	<meta name="robots" content="all" />
	<title>MaRuiYaのBlog</title>
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
	<link rel="stylesheet" th:href="@{/css/master.css}" />
	<link rel="stylesheet" th:href="@{/css/gloable.css}" />
	<link rel="stylesheet" th:href="@{/css/nprogress.css}" />
	<link rel="stylesheet" th:href="@{/css/blog.css}" />
	<!-- logo设置 -->
	<link rel="icon" type="image/png" th:href="@{https://gitee.com/maruiya/tuchuang/raw/master/blog/logo.png}"/>
</head>
<body>
<div class="header">
</div>
<header class="gird-header">
	<div class="header-fixed">
		<div class="header-inner">
			<a th:href="@{/maruiya/blog}" class="header-logo" id="logo">MaRuiYa</a>
			<nav class="nav" id="nav">
				<ul>
					<li><a th:href="@{/maruiya/index}">首页</a></li>
					<li><a th:href="@{/maruiya/blog}">博客</a></li>
					<li><a th:href="@{/maruiya/filling}">归档</a></li>
					<li><a th:href="@{/maruiya/link}">友链</a></li>
				</ul>
			</nav>
			<a th:href="@{/admin123/blogList}" class="blog-user">
				<i class="fa fa-home"></i>
			</a>
			<a class="phone-menu">
				<i></i>
				<i></i>
				<i></i>
			</a>
		</div>
	</div>
</header>

<div class="doc-container" id="doc-container">
	<div class="container-fixed">
		<div class="col-content">
			<div class="inner">
				<article class="article-list bloglist article" id="LAY_bloglist" th:fragment="article">
					<section class="article-item zoomIn article" th:each="blog:${blogs}">
						<div class="fc-flag" th:if="${blog.isTop==1}">置顶</div>
						<h5 class="title">
							<span class="fc-blue" th:text="'【'+${blog.type.name}+'】'">【原创】</span>
							<a th:href="@{/maruiya/{id}/read(id=${blog.id})}" th:text="${blog.title}">Java学习路线推荐</a>
						</h5>
						<div class="time">
							<span class="day" th:text="${#dates.format(blog.updateTime, 'dd')}">5</span>
							<span class="month fs-18" th:utext="|${#dates.format(blog.updateTime, 'MM')}<span class='fs-14'>月</span>|">7<span class="fs-14">月</span></span>
							<span class="year fs-18 ml10" th:text="${#dates.format(blog.updateTime, 'yyyy')}">2020</span>
						</div>
						<div class="content">
							<a th:href="@{/maruiya/{id}/read(id=${blog.id})}" class="cover img-light">
								<img th:src="${blog.firstPic}">
							</a>
							<p th:text="${blog.description}">这篇文章是为了介绍自己自学用过的Java视频资料。本套整合教程总共180+G，共450+小时。考虑到绝大部分视频至少要看两遍，而且视频总时长并不代表学习时长，所以零基础初学者总学习时间大约为：600小时视频时长 + 100小时理解 + 100小时练习，至少需要800小时。你可能觉得自己能一天学习8小时，实际上平均下来每天能学4小时都算厉害了。总会有各种原因，比如当天内容太难，公司聚会，要出差等等。如果周末你也是坚持学习，那么最理想状况下，6个半月就可以学完，达到工作后能被人带的水平。但我知道那其实基本不可能。
							</p>
						</div>
						<div class="read-more">
							<a th:href="@{/maruiya/{id}/read(id=${blog.id})}" class="fc-black f-fwb">继续阅读</a>
						</div>
						<aside class="f-oh footer">
							<div class="f-fl tags">
								<span class="fa fa-tags fs-16"></span>
								<a class="tag" th:text="${blog.tag.name}">java路线</a>
							</div>
							<div class="f-fr">
									<span class="read">
										<i class="fa fa-eye fs-16"></i>
										<i class="num" th:text="${blog.views}">213</i>
									</span>
							</div>
						</aside>
					</section>
				</article>
			</div>
		</div>
		<div class="col-other">
			<div class="inner">
				<div class="other-item" id="categoryandsearch">
					<div class="search">
						<label class="search-wrap">
							<input type="text" id="searchtxt" placeholder="输入关键字搜索" onkeydown="enter_push(event)" />
							<span class="search-icon" id="search">
								<i class="fa fa-search"></i>
							</span>
						</label>
						<ul class="search-result"></ul>
					</div>
					<ul class="category mt20" id="category">
						<li data-index="0" class="slider"></li>
						<li data-index="1"><a href="/Blog/Article">全部文章</a></li>
						<li data-index="1" th:each="tag,start:${tags}" th:data-index="${start.count+1}" th:data-thing="${tag.name}" onclick = "search(this.getAttribute('data-thing'))"><a th:text="${tag.name}">全部文章</a></li>
<!--						<li data-index="3"><a href="/Blog/Article/2/">前端</a></li>-->
<!--						<li data-index="4"><a href="/Blog/Article/3/">Python</a></li>-->
<!--						<li data-index="5"><a href="/Blog/Article/4/">PHP</a></li>-->
<!--						<li data-index="6"><a href="/Blog/Article/5/">其它</a></li>-->
					</ul>
				</div>
				<!--右边悬浮 平板或手机设备显示-->
				<div class="category-toggle"><i class="layui-icon">&#xe603;</i></div>
				<div class="article-category">
					<div class="article-category-title">分类导航</div>
<!--							<a th:data-thing="${tag.name}" touchend = "search(this.getAttribute('data-thing'))" th:each="tag:${tags}" th:text="${tag.name}">Java</a>-->
						<a th:each="tag:${tags}" th:text="${tag.name}" onclick="search('boot')">Java</a>
<!--						<a href="/Blog/Article/2/">前端</a>-->
<!--						<a href="/Blog/Article/3/">Python</a>-->
<!--						<a href="/Blog/Article/4/">PHP</a>-->
<!--						<a href="/Blog/Article/5/">其它</a>-->
<!--							<button th:each="tag:${tags}" th:text="${tag.name}" onclick="test()">测试</button>-->
					<div class="f-cb"></div>
				</div>
				<!--遮罩-->
				<div class="blog-mask animated layui-hide"></div>
				<!-- 热门文章 -->
				<div class="other-item">
					<h5 class="other-item-title">热门文章</h5>
					<div class="inner">
						<ul class="hot-list-article" id="mobile">
							<li th:each="blog:${hotBlogs}"> <a th:href="@{/maruiya/{id}/read(id=${blog.id})}" th:text="${blog.title}" class="h">SpringBoot 入门爬虫项目实战</a></li>
<!--							<li> <a href="/Blog/Read/12">SpringBoot 2.x 教你快速入门</a></li>-->
<!--							<li> <a href="/Blog/Read/13">java学习路线</a></li>-->
<!--							<li> <a href="/Blog/Read/4">基于SpringBoot+JWT+Redis跨域单点登录的实现</a></li>-->
<!--							<li> <a href="/Blog/Read/7">SpringBoot 中如何使用SwaggerAPI接口文档？</a></li>-->
<!--							<li> <a href="/Blog/Read/11">小白轻松入门Redis</a></li>-->
<!--							<li> <a href="/Blog/Read/14">微信一键登录功能的实现</a></li>-->
<!--							<li> <a href="/Blog/Read/8">NPOI导入导出Excel</a></li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="grid-footer">
	<div class="footer-fixed">
		<div class="copyright">
			<div class="info">
				<div class="contact">
					<a href="javascript:void(0)" class="github"><i class="fa fa-github"></i></a>
					<a href="javascript:void(0)" class="qq" target="_blank" title="1436022537"><i class="fa fa-qq"></i></a>
					<a href="javascript:void(0)" class="email" target="_blank" title="1436022537@qq.com"><i class="fa fa-envelope"></i></a>
					<a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
				</div>
				<p class="mt05">
					Copyright &copy; 2019-2020 MaRuiYaのBlog
				</p>
			</div>
		</div>
	</div>
</footer>


<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/yss/gloable.js}"></script>
<script th:src="@{/js/plugins/nprogress.js}"></script>
<script>NProgress.start();</script>
<!-- 搜索框的js -->
<script th:src="@{/js/yss/article.js}"></script>
<script>
	window.onload = function () {
		NProgress.done();
	};
</script>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
// <!--	$("#searchtxt").val()-->
	//通过点击触发
	$("#search").click(function () {
		search($("#searchtxt").val())
	})
	//通过回车触发
	function enter_push(e) {
		var evt = window.event || e;
		if (evt.keyCode == 13){
			search($("#searchtxt").val())
		}
	}
	function search(key) {
		var url = '/maruiya/search';
		alert(key)
		alert("正在发起请求")
		$.ajax({
			url: url,
			type: 'get',
			data: {
				key : key
			},
			success: function (data) {
				$(".article").html(data);
			}
		})
	}

	function test(a) {
		alert(a)
	}

</script>
</body>
</html>
